{% extends "base.njk" %}

{% block content %}
  {% if title %}
    <h1 class="post-title-with-date">
      {{ title }}
      {% if page.date and "/posts/" in page.filePathStem %}
        <span class="post-date-inline">{{ page.date | date("d LLL yyyy") }}</span>
      {% endif %}
    </h1>
  {% endif %}
  {{ content | safe }}
  {% if "/posts/" in page.filePathStem %}
  <hr>
  <div class="subscribe-form">
  <form name="subscribe" method="POST" action="/.netlify/functions/subscribe">
  <label for="email">subscribe:</label>
  <input type="email" name="email" placeholder="email adress" required >
  <button class="subscribe-button" type="submit">submit</button>
  </form>
  </div>
{% endif %}
{% endblock %}
