---
layout: layout
title: other writing
permalink: /tags/other/
---

<div class="post-list">
  {% for post in collections.posts | reverse %}
    {# DEBUG: print to terminal #}
    {{ post.inputPath | log }}
    {{ post.data.tags | log }}

    {# keep the rest commented out for now #}
    {# 
    {% set tags = post.data.tags or [] %}
    {% if "other" in tags %}
      ... existing card markup ...
    {% endif %}
    #}
  {% endfor %}
</div>